@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

:root {
    --primaryDark: #333333;
    --secondaryDark: #666666;
    --primaryAccent: #009399;
    --secondaryAccent: #FFF524;
    --primaryLight: #F2F2F2;
}

#showcase {
    height: 90vh;
    background-color: var(--primaryLight);
    background-image: url('./images/fashion_1.jpg');
    background-blend-mode: multiply;
}

#showcase_card {
    width: 90vw;
    margin: auto;
}

#showcase_title {
    font-family: 'Lobster', sans-serif;
    color: var(--primaryAccent);
    font-size: 54px;
}

/* utility classes */
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  
  .pace-inactive {
    display: none;
  }
  
  .pace .pace-progress {
    background: linear-gradient(87deg, #009399 0%, #57ffab 100%, #ffffff 100%);
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
  }  

  .txt_ternary {
      font-family: 'Lobster', sans-serif;;
  }

  .col_primary_accent {
      color: var(--primaryAccent);
  } 